/*! Styles */

html {
    color: #3b3b3b;
    background: #ebebeb;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    position: relative;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldrow {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* unvisited link */

a:link {
    color: inherit;
    text-decoration: none;
}

/* visited link */

a:visited {
    color: inherit;
    text-decoration: none;
}

/* mouse over link */

a:hover {
    color: inherit;
    text-decoration: none;
}

/* selected link */

a:active {
    color: inherit;
    text-decoration: none;
}
@font-face {
    font-family: 'Nexa Light';
    src: url('../fonts/Nexa%20Light.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Nexa%20Light.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Nexa%20Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Nexa%20Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../images/Nexa%20Light.svg#8daeb39b16ba4fbde275db0ba71a5206') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Nexa Bold';
    src: url('../fonts/Nexa%20Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Nexa%20Bold.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Nexa%20Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Nexa%20Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../images/Nexa%20Bold.svg#7a6e0a27b48926c5216e096daa3e1570') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}
* {
    outline: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: none;
    background-image: none;
    min-width: 70px;
    max-width: 150px;
    height: 100%;
    margin: 0;
    padding: 0 2em 0 1em;
    color: #3b3b3b;
    cursor: pointer;
    font-size: 14px;
    vertical-align: top;
}
select::-ms-expand {
    display: none;
}

/* Custom Select */

.select {
    position: relative;
    display: inline-block;
    width: auto;
    height: 2.5em;
    line-height: 2.6;
    overflow: hidden;
    border-radius: .2em;
    border: 1px solid #cdcdcd;
}

/* Arrow */

.select::after {
    content: 'ˇ';
    position: absolute;
    top: -0.1em;
    right: 0;
    bottom: 0;
    padding: 0 0.6em 0 0;
    pointer-events: none;
    font-size: 1.3em;
    font-weight: bold;
}

/* Transition */

.select:hover::after {
    color: #f39c12;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.ui-tabs {
    background: transparent;
    border: none;
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
}
.ui-tabs .ui-tabs-nav {
    border: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    border: none;
    background: #ffbc00;
}
.ui-tabs .ui-tabs-nav li {
    cursor: pointer;
}
.ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    border-radius: 4px;
    color: #3b3b3b;
    font-size: 16px;
    padding: 12px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    padding: 11px 30px 11px 30px !important;
    display: block;
}
.icon-bitcoin {
    background: url(../images/bitcoin-icon.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.icon-bitcoin.dark {
    background: url(../images/bitcoin-icon-dark.svg);
}
.icon-bitcoin.dark-light {
    background: url(../images/bitcoin-icon-dark.svg);
    opacity: 0.4;
}
.icon-bitcoin.yellow {
    background: url(../images/bitcoin-icon-yellow.svg);
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    font-family: 'Nexa Light';
    cursor: default;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
#wrapper {
    display: none;
    padding: 0 40px 0 160px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
}
#loader {
    position: absolute;
    z-index: 999999999;
    animation: spinner 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
@keyframes spinner {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(220deg)
    }
}
#loader:after {
    animation: loadinganim 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content: '';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
}
@keyframes loadinganim {
    0% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #fff 0 0 0 2px;
    }
    100% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(140deg);
    }
}
.star-rating {
    height: 20px;
    position: relative;
    width: 100px;
}
.star-rating:before {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20%23666666%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E) !important;
    background-repeat: repeat-x;
    background-size: 20px;
    bottom: 0;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.star-rating > span {
    display: block;
    text-indent: -10000px;
    width: 100px;
    height: 20px;
    position: absolute;
    overflow: hidden;
}
.star-rating > span:before {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20%23ffbc00%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E) !important;
    background-repeat: repeat-x;
    background-size: 20px;
    bottom: 0;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: 10000px;
    top: 0;
}

/* Side Bar */

.datepicker {
    height: 100%;
    width: 100%;
    border: 0;
    line-height: 20px;
    background: none;
    padding-left: 10%;
    cursor: default !important;
    font-size: 14px !important;
    line-height: 14px !important;
    font-family: "Nexa Bold" !important;
}
#wrapper .side-bar {
    background: #3a3a3a;
    width: 120px;
    height: 100%;
    position: fixed;
    left: 0;
}
#wrapper .side-bar .logo {
    display: block;
    background: url(../images/fj-logo.png);
    background-size: cover;
    width: 59px;
    height: 71px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 26px;
}
#wrapper .side-bar .navi {
    position: relative;
    top: 10%;
}
#wrapper .side-bar .navi a {
    display: block;
    position: relative;
    color: #959595;
    text-align: center;
    margin-bottom: 28px;
    padding: 0 16px 0 16px;
    line-height: 18px;
    font-size: 14px;
}
#wrapper .side-bar .navi .icon {
    margin-bottom: 10px;
}
#wrapper .side-bar .navi .icon:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
#wrapper .side-bar .navi .dashboard .icon {
    background: url(../images/icon-dashboard.png);
    background-position: top;
    background-size: cover;
    width: 32px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper .side-bar .navi .dashboard .icon:hover, #wrapper .side-bar .navi .dashboard.active .icon {
    background: url(../images/icon-dashboard-active.png);
}
#wrapper .side-bar .navi .referals .icon {
    background: url(../images/icon-referals.png);
    background-position: top;
    background-size: cover;
    width: 32px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper .side-bar .navi .referals .icon:hover, #wrapper .side-bar .navi .referals.active .icon {
    background: url(../images/icon-referals-active.png);
}
#wrapper .side-bar .navi .charts .icon {
    background: url(../images/icon-charts.png);
    background-position: top;
    background-size: cover;
    width: 32px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper .side-bar .navi .charts .icon:hover, #wrapper .side-bar .navi .charts.active .icon {
    background: url(../images/icon-charts-active.png);
}
#wrapper .side-bar .navi .trackers .icon {
    background: url(../images/icon-trackers.png);
    background-position: top;
    background-size: cover;
    width: 32px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper .side-bar .navi .trackers .icon:hover, #wrapper .side-bar .navi .trackers.active .icon {
    background: url(../images/icon-trackers-active.png);
}
#wrapper .side-bar .navi .materials .icon {
    background: url(../images/icon-materials.png);
    background-position: top;
    background-size: cover;
    width: 32px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper .side-bar .navi .materials .icon:hover, #wrapper .side-bar .navi .materials.active .icon {
    background: url(../images/icon-materials-active.png);
}
#wrapper .side-bar .back-btn {
    color: #959595;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#wrapper .side-bar .back-btn .icon {
    background: url(../images/back-site-btn.png);
    background-size: cover;
    width: 32px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
}

/* Header */

#wrapper .header {
    height: 120px;
    border-bottom: 1px solid #c8c8c8;
}
#wrapper .header .user-data {
    display: none;
    position: absolute;
    width: 36%;
    background: #f9f9f9;
    border-radius: 8px;
    z-index: 999;
    padding: 2.4%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    right: 10%;
    top: 10%;
}
#wrapper .header .user-data .top-panel {
    text-align: right;
    position: relative;
    top: -8px;
    right: -12px;
}
#wrapper .header .user-data .top-panel .cancel-btn, #wrapper .header .user-data .top-panel .save-btn {
    font-family: "Nexa Light";
    display: inline-block;
    color: #3b3b3b;
    background: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 28px;
    height: 26px;
    width: 80px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    margin-right: 4px;
    cursor: pointer;
}
#wrapper .header .user-data .top-panel .save-btn {
    background: #ffbc00;
    border-color: #ffbc00;
}
#wrapper .header .user-data .contact-info span, #wrapper .header .user-data .user-info span {
    font-family: "Nexa Bold";
    width: 46%;
    display: inline-block;
    font-size: 14px;
}
#wrapper .header .user-data .label {
    font-size: 24px;
    color: #a3a3a3;
    margin-bottom: 22px;
}
#wrapper .header .user-data .contact-info .label {
    margin-top: 32px;
}
#wrapper .header .user-data .user-info .label .label-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background: url('../images/icon-mail.png') no-repeat;
}
#wrapper .header .user-data .contact-info .label .label-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background: url('../images/icon-user.png') no-repeat;
}
#wrapper .header .user-data input {
    border: none;
    border-bottom: 2px solid #e0e0e0;
    color: #a3a3a3;
    height: 30px;
    padding: 10px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    background: none;
    width: 50%;
    margin-top: 2px;
}
#wrapper .header .user-data input[type=text]:focus, #wrapper .header .user-data input[type=password]:focus {
    border-bottom: 2px solid #ffbc00;
    transition: all .2s ease-in-out;
}
#wrapper .header .user-data .bottom-panel .log-out {
    font-size: 24px;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    margin-top: 40px;
}
#wrapper .header .user-data .bottom-panel .log-out .label-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background: url('../images/icon-logout.png') no-repeat;
    vertical-align: middle;
}
#wrapper .header .col {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#wrapper .header .left.col {
    width: 30%;
    font-size: 24px;
    padding-top: 50px;
    text-align: left;
}
#wrapper .header .left.col span {
    font-family: "Nexa Bold";
}
#wrapper .header .center.col {
    width: 33%;
    padding-top: 36px;
    text-align: center;
}
#wrapper .header .center.col .date-time {}
#wrapper .header .center.col .date-time .icon {
    background: url(../images/time-icon.png);
    background-size: cover;
    width: 21px;
    height: 21px;
    display: inline-block;
    position: relative;
    top: 3px;
    left: -3px;
}
#wrapper .header .center.col .date-time .day-month {
    display: inline-block;
    font-size: 24px;
}
#wrapper .header .center.col .date-time .time {
    display: inline-block;
    font-family: "Nexa Bold";
    font-size: 24px;
}
#wrapper .header .center.col .u-text {
    font-style: italic;
    margin-top: 10px;
    font-size: 14px;
}
#wrapper .header .right.col {
    width: 37%;
    text-align: right;
    padding-right: 10px;
    float: right;
}
#wrapper .header .right.col .user-area {
    display: inline-block;
    position: relative;
    top: -4px;
    cursor: pointer;
}
#wrapper .header .right.col .user-area .user-name {
    font-size: 16px;
    color: #3b3b3b;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 14px;
    margin-right: 14px;
}
#wrapper .header .right.col .user-area .user-pic {
    width: 42px;
    height: 42px;
    background: red;
    display: inline-block;
    background: url(../images/user-icon.png);
    background-size: 86% 86%;
    background-repeat: no-repeat;
    margin-right: 14px;
}
#wrapper .header .right.col .search {
    width: 50px;
    height: 50px;
    border-left: 1px solid rgba(51, 51, 51, 0.2);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    margin-top: 44px;
    position: relative;
    display: inline-block;
    padding-left: 8px;
}
#wrapper .header .right.col .search input[type=text] {
    box-sizing: border-box;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../images/search-icon.png');
    background-size: 33px 33px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 12px 25px 12px 25px;
    -webkit-transition: width 0s ease-in-out;
    transition: width 0s ease-in-out;
    text-align: right;
    outline: none;
    float: right;
    cursor: pointer;
    opacity: 0.8;
}
#wrapper .header .right.col .search input[type=text]:hover {
    background-image: url('../images/search-icon.png');
    opacity: 1;
}
#wrapper .header .right.col .search input[type=text]:focus {
    background-image: none;
    -webkit-transition: width 0.1s ease;
    transition: width 0.1s ease;
    width: 310px;
    color: #3B3B3B;
    border: 1px solid #CDCDCD;
    border-radius: 40px;
    background-color: #FBFBFB;
    font-family: "Nexa Bold";
    cursor: text;
    opacity: 1;
}

/* Content */

#wrapper .content {
    margin-top: 12px;
    height: 100%;
}
#wrapper .content .cont-head {
    padding-top: 8px;
    position: relative;
    z-index: 99;
    display: inline-block;
    background: none;
}
#wrapper .content .cont-body {
    width: 100%;
}
#wrapper .content .cont-body .filters {
    display: block;
    float: left;
    text-align: right;
    padding-top: 14px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    z-index: 9;
    top: -4px;
}
#wrapper .content .cont-body .filters .label-select {
    display: inline-block;
    position: relative;
    top: -14px;
    margin-right: 18px;
}
#wrapper .content .cont-body .filters .select {
    display: inline-block;
    margin-right: 10px;
}
#wrapper .content .cont-body .chart-container {
    position: relative;
    min-height: 400px;
}
#wrapper .content .cont-body .chart-container .chart-title {
    font-family: "Nexa Bold";
    font-size: 24px;
    color: #3b3b3b;
    display: inline-block;
    z-index: 0;
    top: 6%;
    left: 1%;
    position: absolute;
}
#wrapper .content .cont-body .chart-container .chart-subtitle {
    font-family: "Nexa Bold";
    font-size: 72px;
    color: #3b3b3b;
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 16%;
    left: 6%;
    z-index: 0;
}
#wrapper .chart div.google-visualization-tooltip {
    background: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    z-index: 9;
}
#wrapper .cont-foot {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 70px;
}
#wrapper .cont-foot .tab-cont {
    margin: 40px 1% 0 1%;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    vertical-align: top;
    background: #ffffff;
    position: relative;
}
#wrapper .cont-foot .tab-cont:last-child {
    margin-right: 0;
}
#wrapper .cont-foot .tab-cont.active {
    background: #ffbc00;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) -12px 70px 70px;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) -12px 70px 70px;
    box-shadow: rgba(0, 0, 0, 0.16) -12px 70px 70px;
}
#wrapper .cont-foot .tab-cont.big {
    width: 40%;
    min-height: 400px;
    max-width: 550px;
}
#wrapper .cont-foot .tab-cont.medium {
    width: 18%;
    min-height: 400px;
}
#wrapper .cont-foot .tab-cont.small {
    width: 22%;
    min-height: 250px;
    max-width: 250px;
}
#wrapper .cont-foot .tab-cont.small:hover {
    cursor: pointer;
}
#wrapper .cont-foot .tab-cont.big > .title {
    font-size: 24px;
    font-family: "Nexa Bold";
    color: #ffffff;
}
#wrapper .cont-foot .tab-cont.medium > .title {
    font-size: 24px;
    font-family: "Nexa Bold";
    color: #3b3b3b;
}
#wrapper .cont-foot .tab-cont.small > .title {
    font-size: 18px;
    font-family: "Nexa Bold";
    color: #3b3b3b;
    text-align: left;
}
#wrapper .cont-foot .tab-cont.big > .big-num {
    font-size: 72px;
    font-family: "Nexa Bold";
    color: #ffffff;
}
#wrapper .cont-foot .tab-cont.medium > .big-num {
    font-size: 52px;
    font-family: "Nexa Bold";
    color: #3b3b3b;
}
#wrapper .cont-foot .tab-cont .table {
    text-align: left;
    position: relative;
    top: 60px;
}
#wrapper .cont-foot .tab-cont .table .item {
    display: inline-block;
    margin-bottom: 6%;
}
#wrapper .cont-foot .tab-cont .table .item .title {
    color: #959595;
    font-size: 16px;
    padding-bottom: 5%;
}
#wrapper .cont-foot .tab-cont .table .item .value {
    font-family: "Nexa Bold";
    color: #3b3b3b;
    font-size: 14px;
}
#wrapper .cont-foot .tab-cont .round-chart {
    position: absolute;
    top: -56px;
    right: 12px;
}

/* Content */

#wrapper .footer {
    min-height: 100px;
    bottom: 36px;
    position: relative;
    bottom: 0;
}
#wrapper .footer .switch {
    display: inline-block;
    margin-right: 28px;
    cursor: pointer;
}
#wrapper .footer .switch.active {
    display: inline-block;
    margin-right: 28px;
    font-family: "Nexa Bold";
}
#wrapper.referals {}
#wrapper.charts .cont-foot {
    text-align: center;
}
#wrapper.charts .cont-foot .tab-cont .table .item {
    width: 100%;
}
#wrapper.charts .cont-foot .tab-cont .table {
    text-align: left;
    position: absolute;
    bottom: 18px;
    top: auto;
}
#wrapper.charts .cont-foot .tab-cont {
    padding: 2.5%;
}
#wrapper.charts .cont-foot .tab-cont .round-chart {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 16%;
}
#wrapper.charts .cont-foot .tab-cont .table .item .value {
    font-size: 16px;
    line-height: 16px;
}
#wrapper.trackers {}
#wrapper.trackers .content .modal-frame {
    background: #efefef;
    left: 0;
    right: 0;
    top: 36%;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    z-index: 9;
    border-radius: 6px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    position: absolute;
    z-index: 999;
    display: none;
}
#wrapper.trackers .content .modal-frame .close-btn {
    font-family: "Nexa Bold";
    position: absolute;
    top: 30px;
    right: 44px;
    color: #959595;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 26px;
}
#wrapper.trackers .content .modal-frame .label {
    font-family: "Nexa Bold";
    font-size: 16px;
    color: #484848;
    text-align: left;
}
#wrapper.trackers .content .modal-frame .edit-info {
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper.trackers .content .modal-frame .edit-info input {
    border: none;
    background: #ffffff;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    padding: 6px 20px 6px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    color: #a3a3a3;
    margin-left: auto;
    margin-right: auto;
}
#wrapper.trackers .content .modal-frame .ok-btn {
    font-family: "Nexa Bold";
    background: #ffbc00;
    border-radius: 4px;
    width: 300px;
    height: 50px;
    font-size: 24px;
    line-height: 52px;
    color: #484848;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    cursor: pointer;
}
#wrapper.trackers .dataTables_wrapper thead tr th:last-child {
    text-align: right;
    vertical-align: middle;
    line-height: 45px;
    font-size: 16px;
    font-family: "Nexa Light";
}
#wrapper.trackers .dataTables_wrapper tbody tr td:last-child {
    text-align: center;
}
#wrapper.trackers .dataTables_wrapper .add-button {
    font-family: "Nexa Light";
    display: inline-block;
    color: #484848;
    background: #ffbc00;
    border-radius: 4px;
    font-size: 28px;
    line-height: 46px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
    float: right;
}
#wrapper.trackers .dataTables_wrapper .edit-button {
    font-family: "Nexa Light";
    display: inline-block;
    color: #484848;
    background: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 28px;
    height: 26px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #cdcdcd;
}
#wrapper.trackers .dataTables_wrapper .edit-button:hover, #wrapper.trackers .dataTables_wrapper .remove-button:hover {
    background: #3b3b3b;
    color: #ffffff;
}
#wrapper.trackers .dataTables_wrapper .remove-button {
    font-family: "Nexa Light";
    display: inline-block;
    color: #484848;
    background: #ffbc00;
    border-radius: 4px;
    font-size: 14px;
    line-height: 28px;
    height: 26px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 4px;
}
#wrapper.materials {}
#wrapper.materials #banners .swiper-container {
    margin-top: 20px;
    font-family: 'Nexa Light';
}
#wrapper.materials #banners .banner-title {
    color: #a3a3a3;
    font-size: 24px;
    margin-top: 34px;
    margin-bottom: 34px;
    font-family: 'Nexa Light';
}
#wrapper.materials #banners .download-banner {
    font-family: "Nexa Bold";
    display: table;
    width: 120px;
    height: 40px;
    background: #ffbc00;
    line-height: 40px;
    font-size: 13px;
    color: #3b3b3b;
    margin: 60px auto 20px auto;
}
#wrapper.materials #banners .copy-url-banner {
    font-family: "Nexa Bold";
    display: block;
    width: 120px;
    height: 40px;
    background: #666666;
    line-height: 40px;
    font-size: 13px;
    color: #ebebeb;
    margin: 0 auto;
}
#wrapper.materials #banners .star-rating {
    position: absolute;
    bottom: 8%;
    right: 7%;
}
#wrapper.materials #banners .swiper-container:nth-child(5) .download-banner, #wrapper.materials #banners .swiper-container:nth-child(7) .download-banner {
    margin-top: 0;
    display: inline-block;
}
#wrapper.materials #banners .swiper-container:nth-child(5) .copy-url-banner, #wrapper.materials #banners .swiper-container:nth-child(7) .copy-url-banner {
    margin-top: 0;
    display: inline-block;
}
#wrapper.materials #banners .swiper-container:nth-child(5) .star-rating, #wrapper.materials #banners .swiper-container:nth-child(7) .star-rating {
    position: relative;
    display: inline-block;
    left: 7px;
    top: 7px;
}
#wrapper.materials #banners .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #8781bd;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 300px;
    height: 250px;
}
#wrapper.materials #banners .swiper-container .swiper-slide .hover {
    display: none;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-out;
    padding-top: 4%;
}
#wrapper.materials #banners .swiper-container .swiper-slide:hover > .hover {
    display: block !important;
    background: #3b3b3b;
    -o-transition: .7s;
    -ms-transition: .7s;
    -moz-transition: .7s;
    -webkit-transition: .7s;
    transition: .7s;
    transition: all 2s;
}
#wrapper.materials #banners .swiper-container:nth-child(5) .swiper-slide {
    width: 468px;
    height: 60px;
}
#wrapper.materials #banners .swiper-container:nth-child(7) .swiper-slide {
    width: 468px;
    height: 60px;
}
#wrapper.materials #text-materials .material-cont {
    border-right: 1px solid #d9d9d9;
    width: 29%;
    display: inline-block;
    float: left;
    padding: 2%;
}
#wrapper.materials #text-materials .material-cont:last-child {
    border-right: none;
}
#wrapper.materials #text-materials .material-title {
    font-size: 26px;
    font-family: "Nexa Light";
    color: #3b3b3b;
}
#wrapper.materials #text-materials .material-text {
    margin-top: 16px;
    color: #959595;
    font-family: "Nexa Light";
}
#wrapper.materials #text-materials .material-download {
    margin-top: 14px;
    font-family: "Nexa Light";
    font-size: 16px;
    color: #3b3b3b;
}
#wrapper.materials #text-materials .material-download .link {
    font-family: "Nexa Bold";
    color: #ffbe00;
    margin-left: 2px;
    cursor: pointer;
    color: #ffbc00;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


/* hi-res laptops and desktops */

@media (min-width:80.063em) {
    #wrapper .cont-foot .tab-cont.medium > .big-num {
        font-size: 35px;
    }
    #wrapper .cont-foot .tab-cont .table .item {
        min-width: 120px;
        width: 48%;
    }
}

/* big landscape tablets, laptops, and desktops */

@media (max-width:80.063em) {
    #wrapper .cont-foot .tab-cont .table .item {
        width: 100%;
    }
    #wrapper .cont-foot .tab-cont.medium > .big-num {
        font-size: 32px;
    }
    #wrapper .cont-foot .tab-cont .round-chart {
        top: -16%;
        right: 1%;
    }
    /*#wrapper .cont-foot .tab-cont .icon-bitcoin.yellow {
        display: none;
    }*/
    #wrapper .header .center.col {
        margin-top: 16px;
    }
    #wrapper .header .center.col .date-time .time, #wrapper .header .center.col .date-time .day-month {
        font-size: 22px;
    }
    #wrapper .header .right.col {
        text-align: center;
    }
    #wrapper .header .right.col .search {
        margin-top: 38px;
    }
    #wrapper .header .center.col .u-text {
        font-size: 13px;
        display: none;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (max-width:64.063em) {
    #wrapper .cont-foot .tab-cont.medium > .big-num {
        font-size: 28px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media (max-width:60.063em) {}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media (max-width:40.063em) {}

/* smartphones, iPhone, portrait 480x320 phones */

@media (max-width:30.063em) {}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
    * Table styles
*/

table.dataTable {
    font-family: "Nexa Light";
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    position: absolute;
    top: 80px !important;
    /*
      * Header and footer styles
      */
    /*
      * Body styles
      */
}
table.dataTable thead {
    background: #f9f9f9;
    border-spacing: 10px;
}
table.dataTable thead tr {
    padding: 100px;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
    margin: 20%;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
table.dataTable thead th:active, table.dataTable thead td:active {
    outline: none;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    cursor: pointer;
    *cursor: hand;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
}
table.dataTable thead .sorting {
    background-image: url("../images/sort_both.png");
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    color: #3b3b3b;
}
table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png");
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc.png");
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
table.dataTable thead .sorting_asc_disabled {
    background-image: url("../images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
    background-image: url("../images/sort_desc_disabled.png");
}
table.dataTable tbody tr {
    background-color: #ffffff;
}
table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #ebebeb;
    color: #a3a3a3;
    font-size: 14px;
    font-family: "Nexa Bold";
}
table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
    border-top: none;
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #ebebeb;
}
table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td {
    border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    /*background-color: #f9f9f9;*/
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #acbad4;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6;
}
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
    background-color: #aab7d1;
}
table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
    background-color: #fafafa;
}
table.dataTable.order-column tbody tr.selected > .sorting_1, table.dataTable.order-column tbody tr.selected > .sorting_2, table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1, table.dataTable.display tbody tr.selected > .sorting_2, table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #acbad5;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #fafafa;
    font-family: "Nexa Bold";
    color: #3b3b3b;
}
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #f3f3f3;
}
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: whitesmoke;
}
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b4cd;
}
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #a8b5cf;
}
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b7d1;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #fafafa;
    font-family: "Nexa Bold";
    color: #3b3b3b;
}
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #fcfcfc;
}
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #fefefe;
}
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #acbad5;
}
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #aebcd6;
}
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8;
}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #eaeaea;
}
table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    background-color: #ececec;
}
table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    background-color: #efefef;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    background-color: #a2aec7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    background-color: #a3b0c9;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    background-color: #a5b2cb;
}
table.dataTable.no-footer {}
table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap;
}
table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px;
}
table.dataTable.compact tfoot th, table.dataTable.compact tfoot td {
    padding: 4px;
}
table.dataTable.compact tbody th, table.dataTable.compact tbody td {
    padding: 4px;
}
table.dataTable th.dt-left, table.dataTable td.dt-left {
    text-align: left;
}
table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
    text-align: center;
}
table.dataTable th.dt-right, table.dataTable td.dt-right {
    text-align: right;
}
table.dataTable th.dt-justify, table.dataTable td.dt-justify {
    text-align: justify;
}
table.dataTable th.dt-nowrap, table.dataTable td.dt-nowrap {
    white-space: nowrap;
}
table.dataTable thead th.dt-head-left, table.dataTable thead td.dt-head-left, table.dataTable tfoot th.dt-head-left, table.dataTable tfoot td.dt-head-left {
    text-align: left;
}
table.dataTable thead th.dt-head-center, table.dataTable thead td.dt-head-center, table.dataTable tfoot th.dt-head-center, table.dataTable tfoot td.dt-head-center {
    text-align: center;
}
table.dataTable thead th.dt-head-right, table.dataTable thead td.dt-head-right, table.dataTable tfoot th.dt-head-right, table.dataTable tfoot td.dt-head-right {
    text-align: right;
}
table.dataTable thead th.dt-head-justify, table.dataTable thead td.dt-head-justify, table.dataTable tfoot th.dt-head-justify, table.dataTable tfoot td.dt-head-justify {
    text-align: justify;
}
table.dataTable thead th.dt-head-nowrap, table.dataTable thead td.dt-head-nowrap, table.dataTable tfoot th.dt-head-nowrap, table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap;
}
table.dataTable tbody th.dt-body-left, table.dataTable tbody td.dt-body-left {
    text-align: left;
}
table.dataTable tbody th.dt-body-center, table.dataTable tbody td.dt-body-center {
    text-align: center;
}
table.dataTable tbody th.dt-body-right, table.dataTable tbody td.dt-body-right {
    text-align: right;
}
table.dataTable tbody th.dt-body-justify, table.dataTable tbody td.dt-body-justify {
    text-align: justify;
}
table.dataTable tbody th.dt-body-nowrap, table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap;
}
table.dataTable, table.dataTable th, table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/*
    * Control feature layout
    */

.dataTables_wrapper {
    clear: both;
    *zoom: 1;
    zoom: 1;
    background: #f9f9f9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    width: 100%;
    min-height: 80px;
    margin-top: 12px;
}
.dataTables_wrapper .dataTables_length {
    float: left;
    position: relative;
    display: inline-block;
    margin: 2% 0 0 3%;
}
.dataTables_wrapper .dataTables_length {
    position: relative;
    display: inline-block;
    width: auto;
    height: 2.5em;
    line-height: 2.6;
    overflow: hidden;
    border-radius: .2em;
    border: 1px solid #cdcdcd;
}
.dataTables_wrapper .dataTables_length select {
    font-family: "Nexa Bold";
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
}
.dataTables_wrapper .dataTables_length::after {
    content: 'ˇ';
    position: absolute;
    top: -0.1em;
    right: 0;
    bottom: 0;
    padding: 0 0.6em 0 0;
    pointer-events: none;
    font-size: 1.3em;
    font-weight: bold;
}
.dataTables_wrapper .dataTables_length:hover::after {
    color: #f39c12;
}
.dataTables_wrapper .dataTables_length::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    margin: 1.9% 2% 0 0;
    z-index: 9;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    box-sizing: border-box;
    border: none;
    width: 40px;
    height: 41px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../images/search-icon.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 53% 53%;
    padding: 12px 25px 12px 25px;
    -webkit-transition: width 0s ease-in-out;
    transition: width 0s ease-in-out;
    text-align: right;
    outline: none;
    float: right;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
}
.dataTables_wrapper .dataTables_filter input:focus {
    background-image: none;
    -webkit-transition: width 0.1s ease;
    transition: width 0.1s ease;
    width: 250px;
    color: #3B3B3B;
    border: 1px solid #CDCDCD;
    border-radius: 40px;
    background-color: #FBFBFB;
    font-family: "Nexa Bold";
    cursor: text;
    background: #ffffff;
}
.dataTables_wrapper .dataTables_info {
    float: left;
    position: relative;
    display: inline-block;
    text-align: left;
    padding-top: 0.25em;
    margin: 2.5% 0 0 3%;
    display: none;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    position: relative;
    display: inline-block;
    text-align: left;
    padding-top: 0.25em;
    margin: 1.6% 2% 0 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 4px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid #CDCDCD !important;
    border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
    /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #3b3b3b !important;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: #fff !important;
    outline: none;
    background-color: #3b3b3b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #3b3b3b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3b3b3b 0%, #3b3b3b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #3b3b3b 0%, #3b3b3b 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #3b3b3b 0%, #3b3b3b 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #3b3b3b 0%, #3b3b3b 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #3b3b3b 0%, #3b3b3b 100%);
    /* W3C */
    /*box-shadow: inset 0 0 3px #111;*/
    border: 1px solid #3b3b3b !important;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
}
.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
}
.dataTables_wrapper .dataTables_scroll {
    clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
    vertical-align: middle;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table, .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
    border-bottom: none;
}
.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em;
    }
}
@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }
    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em;
    }
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    /**zoom: 1;*/
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
